.App {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  min-height: 100vh;
  padding: 20px;
}

button {
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}
